<% content_for :page_title, "#{ENV['BRAND_NAME']} (org)" %>

<h1><%= t('top.org.preferences.footer.home') %></h1>

<section>
  <h2>Welcome to <%= ENV['BRAND_NAME'] %> (org)</h2>

  <nav>
    <ul>
      <li><%= link_to t('top.org.preferences.footer.preference'), top_org_preference_path %></li>
      <li><%= link_to t('top.org.preferences.footer.privacy'), top_org_privacy_path %></li>
    </ul>
  </nav>
</section>
