<h1><%= t('sign.app.withdrawal.new.title', default: 'Withdrawal') %></h1>
<p><%= t('sign.app.withdrawal.new.description', default: 'Are you sure you want to withdraw?') %></p>

<%= form_with url: sign_app_withdrawal_path, method: :post, local: true do |f| %>
  <%= f.submit t('sign.app.withdrawal.new.submit', default: 'Withdraw'), class: "btn btn-danger" %>
<% end %>
