<section>
  <% {
       "Contact ID" => contact.public_id,
       "Category" => contact.try(:category_id),
       "Status" => contact.try(:contact_status_title),
       "Email" => contact.try(:email_address),
       "Telephone" => contact.try(:telephone_number),
       "Created at" => contact.created_at&.strftime("%Y-%m-%d %H:%M"),
       "Updated at" => contact.updated_at&.strftime("%Y-%m-%d %H:%M")
     }.each do |label, value| %>
    <div>
      <span><%= label %></span>
      <span><%= value || "-" %></span>
    </div>
  <% end %>
</section>
