<div>
  <h1 class="font-bold text-4xl">News::App::Preferences#show</h1>
  <p>Find me in app/views/news/app/preferences/show.html.erb</p>
  <p><%= link_to t("shared.links.apex_preference"), apex_app_preference_url %></p>
</div>
