<% content_for :page_title, 'News::App::Preferences#show' %>
<div>
  <h1>News::App::Preferences#show</h1>
  <p>Find me in app/views/news/app/preferences/show.html.erb</p>
  <p><%= link_to t("shared.links.apex_preference"), sign_app_preference_url %></p>
</div>
