<% content_for :page_title, 'Jit::Identity::Sign::Org::Configuration::Mfas#update' %>
<div>
  <h1>Jit::Identity::Sign::Org::Configuration::Mfas#update</h1>
  <p>Find me in app/views/sign/org/configuration/mfas/update.html.erb</p>
</div>
