<h1>Timezone Settings</h1>
<%= form_with url: apex_app_preference_timezone_url, method: :patch do |f| %>
  <div class="timezone-selection">
    <%= f.select :timezone, options_for_select([
      ['UTC', 'UTC'],
      ['Asia/Tokyo', 'Asia/Tokyo'],
      ['America/New_York', 'America/New_York'],
      ['Europe/London', 'Europe/London']
    ], @timezone) %>
    <%= f.label :timezone, "Select Timezone" %>
  </div>
  <div><%= f.submit %></div>
<% end %>
