<% content_for :page_title, 'Sign::App::Edge::V0::Token::Refreshes#create' %>
<div>
  <h1>Sign::App::Edge::V0::Token::Refreshes#create</h1>
  <p>Find me in app/views/sign/app/edge/v0/token/refreshes/create.html.erb</p>
</div>
