<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags site: "#{ENV['BRAND_NAME']} (org) Apex Home" %>
  <title>UMAXICA <%= content_for?(:page_title) ? "| #{yield(:page_title)} " : "" %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style>
      /* Email styles need to be inline */
  </style>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>

<body>
<p>org</p>
<%= yield %>
</body>
</html>
