<div>
  <h1 class="font-bold text-4xl"><%= t('controller.auth.app.registration.google.new.page_title') %></h1>
  <p><%= link_to t("controller.auth.app.registration.google.new.jump_obj"), auth_app_registration_google_path(), method: :post %></p>
  <ul>
    <li><%= link_to 'others?', new_auth_app_registration_path %></li>
    <li><%= link_to 'log in?', new_auth_app_authentication_google_path %></li>
  </ul>
</div>
