<% content_for :page_title, 'Docs::Com::Preference#show' %>
<div>
  <h1>Docs::Com::Preference#show</h1>
  <p>Find me in app/views/docs/com/preference/show.html.erb</p>
  <p><%= link_to t("shared.links.apex_preference"), sign_com_preference_url %></p>
</div>
