<% content_for :page_title, 'Sign::App::Edge::V1::Token::Checks#show' %>
<div>
  <h1>Sign::App::Edge::V1::Token::Checks#show</h1>
  <p>Find me in app/views/sign/app/edge/v1/token/checks/show.html.erb</p>
</div>
