<% content_for :page_title, 'Sign::Org::Configuration::Mfas#show' %>
<div>
  <h1>Sign::Org::Configuration::Mfas#show</h1>
  <p>Find me in app/views/sign/org/configuration/mfas/show.html.erb</p>
</div>
