<% content_for :page_title, 'Sign::App::Configuration::Telephones#create' %>
<div>
  <h1>Sign::App::Configuration::Telephones#create</h1>
  <p>Find me in app/views/sign/app/configuration/telephones/create.html.erb</p>
</div>
