services:
  core:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        COMMIT_HASH: "abcdef"
        DOCKER_UID: ${UID:-1000}
        DOCKER_GID: ${GID:-1000}
    env_file: docker/core/env
    entrypoint: [ "/bin/bash", "/home/jit/workspace/docker/core/entrypoint.sh" ]
    command: [ "sleep", "infinity" ]
    restart: always
    tty: true
    stdin_open: true
    user: "${UID:-1000}:${GID:-1000}"
    ports:
      - "3001:3000"
    volumes:
      - type: bind
        source: .
        target: /home/jit/workspace
    networks:
      backend: { }
      frontend:
        aliases:
          - app.localhost
          - sign.app.localhost
      observability: { }
    depends_on:
      primary:
        condition: service_healthy
      replica:
        condition: service_started
      valkey:
        condition: service_healthy
      minio:
        condition: service_started

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio-volume:/data
    ports:
      - "127.0.0.1:${MINIO_API_PORT:-19000}:9000" # API
      - "127.0.0.1:${MINIO_CONSOLE_PORT:-19001}:9001" # Console
    networks:
      - backend
    restart: unless-stopped

  primary:
    image: postgres:18.0-alpine
    command:
      - -c
      - config_file=/etc/postgresql/postgresql.conf
      - -c
      - hba_file=/etc/postgresql/pg_hba.conf
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
      POSTGRES_DB: db
      TZ: UTC
      POSTGRES_HOST_AUTH_METHOD: trust # dev only
      POSTGRES_INITDB_WAL_LEVEL: replica
      POSTGRES_INITDB_MAX_WAL_SENDERS: 10
      POSTGRES_INITDB_MAX_REPLICATION_SLOTS: 10
    tmpfs:
      - /var/lib/postgresql/18:uid=70,gid=70
    ports:
      - "127.0.0.1:5435:5432"
    volumes:
      - ./docker/psql-pub/postgresql.conf:/etc/postgresql/postgresql.conf:ro
      - ./docker/psql-pub/pg_hba.conf:/etc/postgresql/pg_hba.conf:ro
      - ./docker/psql-pub:/docker-entrypoint-initdb.d:ro
    networks:
      - backend
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U root -d db -h 127.0.0.1" ]
      interval: 3s
      timeout: 3s
      retries: 20
      start_period: 5s

  replica:
    image: postgres:18.0-alpine
    entrypoint: /entrypoint.sh
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
      POSTGRES_DB: db
      TZ: UTC
      POSTGRES_HOST_AUTH_METHOD: trust # dev only
    tmpfs:
      - /var/lib/postgresql/18:uid=70,gid=70
    ports:
      - "127.0.0.1:5436:5432"
    volumes:
      - ./docker/psql-sub/entrypoint.sh:/entrypoint.sh:ro
      - ./docker/psql-sub/postgresql.conf:/etc/postgresql/postgresql.conf:ro
      - ./docker/psql-sub/pg_hba.conf:/etc/postgresql/pg_hba.conf:ro
    depends_on:
      primary:
        condition: service_healthy
    networks:
      - backend
    restart: unless-stopped

  valkey:
    image: valkey/valkey:8.0-alpine3.22
    ports:
      - "127.0.0.1:${VALKEY_HOST_PORT:-56379}:6379"
    networks:
      - backend
    volumes:
      - valkey-volume:/data
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "valkey-cli", "ping" ]
      interval: 3s
      timeout: 2s
      retries: 20
      start_period: 3s

  zookeeper:
    image: confluentinc/cp-zookeeper:7.9.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    networks:
      - backend
    restart: unless-stopped

  loki:
    image: grafana/loki:latest
    command: -config.file=/etc/loki/local-config.yaml
    ports:
      - "127.0.0.1:${LOKI_HOST_PORT:-33100}:3100"
    volumes:
      - loki-volume:/tmp/loki
    networks:
      - observability
    restart: unless-stopped

  tempo:
    image: grafana/tempo:latest
    command: -config.file=/etc/tempo.yaml
    volumes:
      - ./docker/tempo/tempo.yaml:/etc/tempo.yaml:ro
      - tempo-volume:/tmp/tempo
    ports:
      - "127.0.0.1:14268:14268" # jaeger ingest
      - "127.0.0.1:3200:3200" # tempo
      - "127.0.0.1:9095:9095" # tempo grpc
      - "127.0.0.1:4317:4317" # otlp grpc
      - "127.0.0.1:4318:4318" # otlp http
      - "127.0.0.1:9411:9411" # zipkin
    networks:
      - observability
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
      GF_PATHS_PROVISIONING: /etc/grafana/provisioning
    ports:
      - "127.0.0.1:8000:3000"
    volumes:
      - grafana-volume:/var/lib/grafana
      # - ./docker/grafana/provisioning:/etc/grafana/provisioning
    networks:
      - observability
    depends_on:
      - loki
      - tempo
    restart: unless-stopped

  cloudflare-tunnel:
    image: cloudflare/cloudflared:latest
    depends_on:
      - core
    command: tunnel run --token ${CLOUDFLARED_TOKEN}
    environment:
      CLOUDFLARED_TOKEN: ${CLOUDFLARED_TOKEN}
    networks:
      - frontend
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped

networks:
  backend: { }
  frontend: { }
  observability: { }

volumes:
  valkey-volume: { }
  minio-volume: { }
  loki-volume: { }
  tempo-volume: { }
  grafana-volume: { }
