<% content_for :page_title, 'Jit::Identity::Sign::App::Verification::Emails#update' %>
<div>
  <h1>Jit::Identity::Sign::App::Verification::Emails#update</h1>
  <p>Find me in app/views/sign/app/verification/emails/update.html.erb</p>
</div>
