<div>
  <h1 class="font-bold text-4xl">Dev::Api::App#show</h1>
  <p>Find me in app/views/dev/api/nets/show.html.erb</p>
  <ul>
    <li>api
      <ul>
        <li><%= link_to 'health', api_app_v1_health_url %></li>
      </ul>
    </li>
    <li><%= link_to 'RETURN', dev_api_path %></li>
  </ul>
</div>
