<div>
  <h1 class="font-bold text-4xl">Auth::App::Authentication::Apples#new</h1>
  <p>Find me in app/views/auth/app/authentication/apples/new.html.erb</p>
</div>

<ul>
  <li><%= link_to t('www.app.authentication.new.back'), new_auth_app_authentication_path %></li>
</ul>
