<h1>Www::App::Setting#show</h1>
<p>Find me in app/views/www/app/setting/show.html.erb</p>
<svg>
  <% RQRCode::QRCode.new("http://github.com/").as_png(color: "000", shape_rendering: "crispEdges", module_size: 11, standalone: true, use_path: true) %>
</svg>
