<%
  tld = local_assigns.fetch(:tld)
  region = local_assigns.fetch(:region)
  domain = local_assigns.fetch(:domain)
%>
<% if (banner = current_banner_for(tld: tld, region: region, domain: domain)) %>
  <section aria-label="banner">
    <% if banner.title.present? %>
      <h2><%= banner.title %></h2>
    <% end %>
    <p><%= banner.body %></p>
  </section>
<% end %>
