<footer>
  <nav>
    <%= yield %>
  </nav>
  <%= render "layouts/shared/footer_theme_controls", scope: local_assigns.fetch(:scope, :app) %>
  <div>
    <%= render "shared/copyright" %>
  </div>
</footer>
