<% content_for :page_title, t("sign.org.configuration.withdrawal.show.title") %>
<div>
  <h1><%= t("sign.org.configuration.withdrawal.show.title") %></h1>
  <p><%= t("sign.org.configuration.withdrawal.show.description") %></p>

  <div>
    <%= link_to t("sign.org.configuration.show.back"),
                identity.sign_org_configuration_path %>
  </div>
</div>
