<h1><%= title "Organization contact overview" %></h1>

<section>
  <p>
    Internal teams can reference this page while triaging enterprise inquiries.
  </p>

  <%= render "core/shared/contact_overview", contact: @contact %>

  <div>
    <%= link_to "Open edit helper", edit_core_org_contact_path(@contact) %>
    <%= link_to "Start another request", new_core_org_contact_path %>
  </div>
</section>
