<% content_for :page_title, 'Sign::App::Configuration::Telephones#edit' %>
<div>
  <h1>Sign::App::Configuration::Telephones#edit</h1>
  <p>Find me in app/views/sign/app/configuration/telephones/edit.html.erb</p>
</div>
