<% content_for :page_title, 'Sign::App::Configuration::Telephones#show' %>
<div>
  <h1>Sign::App::Configuration::Telephones#show</h1>
  <p>Find me in app/views/sign/app/configuration/telephones/show.html.erb</p>
</div>
