<% content_for :page_title, 'Jit::Identity::Sign::Org::Setting::Sessions#destroy' %>
<div>
  <h1>Jit::Identity::Sign::Org::Setting::Sessions#destroy</h1>
  <p>Find me in app/views/sign/org/setting/sessions/destroy.html.erb</p>
</div>
