<% content_for :page_title, 'Jit::Identity::Sign::Org::Setting::Sessions#edit' %>
<div>
  <h1>Jit::Identity::Sign::Org::Setting::Sessions#edit</h1>
  <p>Find me in app/views/sign/org/setting/sessions/edit.html.erb</p>
</div>
