<% content_for :page_title, 'Jit::Identity::Sign::Org::Setting::Sessions#new' %>
<div>
  <h1>Jit::Identity::Sign::Org::Setting::Sessions#new</h1>
  <p>Find me in app/views/sign/org/setting/sessions/new.html.erb</p>
</div>
