<div>
  <h1 class="font-bold text-4xl">Welcome to Umaxica developer's homepage.</h1>
  <p>Github</p>
  <ul>
    <li><a href="https://github.com/seahal/umaxica-app-jit">source code</a></li>
  </ul>
  <p>Routing</p>
  <ul>
    <li><%= link_to 'api', dev_api_path %></li>
    <li><%= link_to 'www', dev_www_path %></li>
  </ul>
</div>

<script>
    alert('aaa')
</script>
