<% content_for :page_title, 'Core::Org::News::App::Versions#index' %>
<div>
  <h1>Core::Org::News::App::Versions#index</h1>
  <p>Find me in app/views/core/org/news/app/versions/index.html.erb</p>
</div>
