<% content_for :page_title, 'Sign::Org::Authentication::Passkeys#create' %>
<div>
  <h1>Sign::Org::Authentication::Passkeys#create</h1>
  <p>Find me in app/views/sign/org/authentication/passkeys/create.html.erb</p>
</div>
