<% content_for :page_title, 'Sign::Org::Setting::Sessions#create' %>
<div>
  <h1>Sign::Org::Setting::Sessions#create</h1>
  <p>Find me in app/views/sign/org/setting/sessions/create.html.erb</p>
</div>
