<div>
  <h1>Help::App::Preferences#show</h1>
  <p>Find me in app/views/help/app/preferences/show.html.erb</p>
  <p><%= link_to t("shared.links.apex_preference"), apex_app_preference_url %></p>
</div>
