<h1>Apex::Com::Cookies#edit</h1>
<p>Find me in app/views/apex/com/preference/cookies/edit.html.erb</p>
<%= form_with url: apex_com_preference_cookie_url, method: :patch do |f| %>
  <div class="interests-selection">
    <%= f.check_box :accept_tracking_cookies, { checked: @accept_tracking_cookies } %>
    <%= f.label :accept_tracking_cookies, t('apex.com.preference.cookie.edit.accept_tracking_cookies') %>
  </div>
  <div> <%= f.submit %></div>
<% end %>
