<% content_for :page_title, 'Core::Org::Help::Org::Contacts#destroy' %>
<div>
  <h1>Core::Org::Help::Org::Contacts#destroy</h1>
  <p>Find me in app/views/core/org/help/org/contacts/destroy.html.erb</p>
</div>
