<% content_for :page_title, 'Core::Org::Help::Org::Contacts#index' %>
<div>
  <h1>Core::Org::Help::Org::Contacts#index</h1>
  <p>Find me in app/views/core/org/help/org/contacts/index.html.erb</p>
</div>
