<% content_for :page_title, 'Docs::App::Preference#show' %>
<div>
  <h1>Docs::App::Preference#show</h1>
  <p>Find me in app/views/docs/app/preference/show.html.erb</p>
  <p><%= link_to t("shared.links.apex_preference"), sign_app_preference_url %></p>
</div>
