<div>
  <h1 class="font-bold text-4xl">Docs::App::Preference#show</h1>
  <p>Find me in app/views/docs/app/preference/show.html.erb</p>
  <p><%= link_to t("shared.links.apex_preference"), apex_app_preference_url %></p>
</div>
