<h1>Docs::App::Roots#index</h1>
<p>Find me in app/views/docs/app/roots/index.html.erb</p>
<ul>
  <li><%= link_to 'Term of use', docs_app_term_path %></li>
  <li><%= link_to 'Privacy', docs_app_privacy_path %></li>
</ul>
