<h1>Www::App::Setting#show</h1>
<p>Find me in app/views/www/app/setting/show.html.erb</p>

<ul>
  <li><%= link_to 'TOTP',  auth_app_setting_totps_url %></li>
  <li><%= link_to 'PASSKEY', auth_app_setting_passkeys_url %></li>
  <li><%= link_to 'RECOVERY CODE', auth_app_setting_recoveries_url %></li>
</ul>
