<% content_for :page_title, 'Jit::Identity::Sign::App::Configuration::Telephones#create' %>
<div>
  <h1>Jit::Identity::Sign::App::Configuration::Telephones#create</h1>
  <p>Find me in app/views/sign/app/configuration/telephones/create.html.erb</p>
</div>
