<% content_for :page_title, 'Jit::Identity::Sign::App::Configuration::Telephones#destroy' %>
<div>
  <h1>Jit::Identity::Sign::App::Configuration::Telephones#destroy</h1>
  <p>Find me in app/views/sign/app/configuration/telephones/destroy.html.erb</p>
</div>
