<% content_for :page_title, t("sign.app.configuration.telephone.edit.title") %>
<div>
  <div>
    <h1><%= t("sign.app.configuration.telephone.edit.title") %></h1>
  </div>

  <div>
    <div>
      <p><%= @user_telephone.number %></p>
    </div>

    <div>
      <%= button_to t("sign.app.configuration.telephone.index.delete"),
                    identity.sign_app_configuration_telephone_path(@user_telephone),
                    method: :delete,
                    data: { turbo_confirm: t("sign.app.configuration.telephone.index.delete_confirm") } %>
    </div>
    <div>
      <%= link_to t("sign.app.common.cancel"), identity.sign_app_configuration_telephones_path %>
    </div>
  </div>
</div>
