<% content_for :page_title, "#{ENV['BRAND_NAME']} (app)" %>

<section>
  <h1>Welcome to <%= ENV['BRAND_NAME'] %> (app)</h1>

  <nav>
    <ul>
      <li><%= link_to t('top.app.preferences.footer.preference'), top_app_preference_path %></li>
      <li><%= link_to t('top.app.preferences.footer.privacy'), top_app_privacy_path %></li>
    </ul>
  </nav>
</section>
