<% content_for :page_title, 'Jit::Identity::Sign::Org::In::Mfas#create' %>
<div>
  <h1>Jit::Identity::Sign::Org::In::Mfas#create</h1>
  <p>Find me in app/views/sign/org/in/mfas/create.html.erb</p>
</div>
