<% content_for :page_title, 'Jit::Identity::Sign::App::Configuration::Emails#show' %>
<div>
  <h1>Jit::Identity::Sign::App::Configuration::Emails#show</h1>
  <p>Find me in app/views/sign/app/configuration/emails/show.html.erb</p>
</div>
