<div>
  <h1><%= title t("sign.org.root.title") %></h1>
  <p><%= t("sign.org.root.description") %></p>

  <div>
    <%= link_to t("sign.org.root.registration"),
                identity.new_sign_org_up_path %>
    <%= link_to t("sign.org.root.authentication"),
                identity.new_sign_org_in_path %>
  </div>
</div>
