<% content_for :page_title, 'Edit Document' %>
<%= turbo_frame_tag "modal" do %>
  <div id="modal-overlay">
    <div>
      <div>
        <h3>Edit Document</h3>
        <%= link_to "×", distributor.post_com_cms_document_path(@document) %>
      </div>

      <%= render "form", document: @document %>
    </div>
  </div>
<% end %>
