<div>
  <h1 class="font-bold text-4xl"><%= t('controller.www.app.setting.passkeys.index.page_title') %></h1>
  <p>Find me in app/views/net/registration/apples/new.html.erb</p>
  <ul>
    <li><%= link_to 'others?', new_auth_app_registration_path %></li>
    <li><%= link_to 'log in?', new_auth_app_authentication_apple_path %></li>
  </ul>
</div>
