<h1 class="font-bold text-4xl"><%= t('controller.auth.app.setting.passkey.index.page_title') %></h1>
<p>Find me in app/views/www/app/setting/security_keys/index.html.erb</p>
<p><%= link_to t('controller.auth.app.setting.passkey.index.return_page'), auth_app_setting_path %></p>
