<ul>
  <li>
    <%= link_to t('controller.auth.app.setting.passkey.new'), new_auth_app_setting_passkey_path,
                class: "inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  </li>
  <li>
    <%= link_to t('controller.auth.app.setting.passkey.index.return_page'), auth_app_setting_path,
                class: "text-indigo-600 hover:text-indigo-900" %></li>
</ul>
