<% content_for :page_title, t("sign.org.configuration.email.edit.title") %>

<h1><%= t("sign.org.configuration.email.edit.title") %></h1>

<p><%= @staff_email.address %></p>

<%= button_to t("sign.org.configuration.email.index.delete"),
              sign_org_configuration_email_path(@staff_email),
              method: :delete,
              data: { turbo_confirm: t("sign.org.configuration.email.index.delete_confirm") } %>

<div>
  <%= link_to t("sign.common.cancel"),
              sign_org_configuration_emails_path %>
</div>
