<div id="<%= dom_id user_recovery_code %>">
  <p>
    <strong>User:</strong>
    <%= user_recovery_code.user_id %>
  </p>

  <p>
    <strong>Recovery code digest:</strong>
    <%= user_recovery_code.recovery_code_digest %>
  </p>

  <p>
    <strong>Expires in:</strong>
    <%= user_recovery_code.expires_in %>
  </p>

</div>
