<h1>お問い合わせ完了</h1>

<div>
  <p>お問い合わせを受け付けました。</p>

  <% if @topic %>
    <div>
      <h2>タイトル</h2>
      <p><%= @topic.title %></p>
    </div>

    <div>
      <h2>内容</h2>
      <p><%= simple_format(@topic.description) %></p>
    </div>
  <% end %>

  <div>
    <%= link_to "トップに戻る", core_com_root_path %>
  </div>
</div>
