<% content_for :page_title, 'Welcome' %>
<div>
  <div>
    <h1>
      Welcome
    </h1>
    <p>
      Select an option to proceed.
    </p>
  </div>

  <div>
<<<<<<< HEAD
    <%= link_to new_core_com_contact_path do %>
      <span>Contact Us</span>
    <% end %>

    <%= link_to core_com_configuration_path do %>
=======
    <%= link_to new_core_org_contact_path do %>
      <span>Contact Us</span>
    <% end %>

    <%= link_to core_org_configuration_path do %>
>>>>>>> 98bd02f0f ([CheckPoint] renamimg from main to core.)
      <span>Configuration</span>
    <% end %>
  </div>
</div>
