<div>
  <div>
    <h1>
      Welcome
    </h1>
    <p>
      Select an option to proceed.
    </p>
  </div>

  <div>
    <%= link_to new_core_com_contact_path do %>
      <span>Contact Us</span>
    <% end %>

    <%= link_to core_com_configuration_path do %>
      <span>Configuration</span>
    <% end %>
  </div>
</div>
