<turbo-frame id="cookie-banner">
  <section
    data-controller="cookie-banner"
    data-cookie-banner-endpoint-value="<%= cookie_banner_endpoint_path %>">
    <p><%= t("preference.cookie.banner.message", default: "We use cookies to improve your experience.") %></p>
    <button type="button" data-action="cookie-banner#accept">
      <%= t("preference.cookie.banner.accept", default: "Accept") %>
    </button>
    <button type="button" data-action="cookie-banner#cancel">
      <%= t("preference.cookie.banner.cancel", default: "Cancel") %>
    </button>
  </section>
</turbo-frame>
