<output>
<% flash.each do |key, message| %>
  <% Array(message).each do |text| %>
    <% variant =
         case key.to_sym
         when :notice, :success
           { bg: "bg-emerald-50", border: "border-emerald-200", text: "text-emerald-900", icon: "✓" }
         when :alert, :error
           { bg: "bg-rose-50", border: "border-rose-200", text: "text-rose-900", icon: "!" }
         else
           { bg: "bg-sky-50", border: "border-sky-200", text: "text-sky-900", icon: "i" }
         end %>
    <div class="<%= "#{variant[:bg]} #{variant[:border]}" %>">
      <div>
        <%= variant[:icon] %>
      </div>
      <p class="<%= variant[:text] %>"><%= text %></p>
    </div>
  <% end %>
<% end %>
</output>
