<% content_for :page_title, 'Jit::Identity::Sign::App::Setting::Sessions#create' %>
<div>
  <h1>Jit::Identity::Sign::App::Setting::Sessions#create</h1>
  <p>Find me in app/views/sign/app/setting/sessions/create.html.erb</p>
</div>
