<% content_for :page_title, 'Jit::Identity::Sign::App::Setting::Sessions#show' %>
<div>
  <h1>Jit::Identity::Sign::App::Setting::Sessions#show</h1>
  <p>Find me in app/views/sign/app/setting/sessions/show.html.erb</p>
</div>
