<% content_for :page_title, 'Jit::Identity::Sign::App::Setting::Sessions#update' %>
<div>
  <h1>Jit::Identity::Sign::App::Setting::Sessions#update</h1>
  <p>Find me in app/views/sign/app/setting/sessions/update.html.erb</p>
</div>
