<% content_for :page_title, 'Sign::Org::Preference::Emails#update' %>
<div>
  <h1 class="font-bold text-4xl">Sign::Org::Preference::Emails#update</h1>
  <p>Find me in app/views/sign/org/preference/email/update.html.erb</p>
</div>
