<script src="https://challenges.cloudflare.com/turnstile/v0/api.js?onload=onloadTurnstileCallback" defer></script>
<div class="cf-turnstile" data-sitekey="<%= Rails.application.credentials.dig(:CLOUDFLARE, :TURNSTILE_SITE_KEY) %>"></div>
