<h1><%= t('controller.help.app.contacts.error.page_title') %></h1>
<p><%= t('controller.help.app.contacts.error.page_description') %></p>
<p><%= link_to t('controller.help.app.contacts.error.back_to_contact_root_page'), new_help_app_inquiry_path %></p>
