<script src="https://challenges.cloudflare.com/turnstile/v0/api.js?onload=onloadTurnstileCallback" defer></script>
<div class="cf-turnstile" data-sitekey="<%= Jit::Security::TurnstileConfig.visible_site_key %>"></div>
