<% content_for :page_title, "#{ENV['BRAND_NAME']} (com)" %>

<section>
  <h1>Welcome to <%= ENV['BRAND_NAME'] %> (com)</h2>

    <nav>
      <ul>
        <li><%= link_to t('apex.com.preferences.footer.preference'), apex_com_preference_path %></li>
        <li><%= link_to t('apex.com.preferences.footer.privacy'), apex_com_privacy_path %></li>
      </ul>
    </nav>
</section>
