<div>
  <h1 class="font-bold text-4xl"><%= t('controller.auth.app.setting.totp.index.page_title') %></h1>
  <p>Find me in app/views/net/session/apples/new.html.erb</p>
  <ul>
    <% @utbotp.each do |t| %>
      <li> <%= t.id %></li>
    <% end %>
  </ul>
  <p><%= link_to 'new totp', new_sign_app_setting_totp_path %></p>
  <p><%= link_to t('controller.auth.app.setting.totp.index.return_page'), sign_app_setting_path %></p>
</div>
