

<h1><%= t('apex.com.preferences.title') %></h1>

<ul>
  <li><%= link_to t('apex.com.preferences.cookie_settings'), edit_apex_com_preference_cookie_url %></li>
  <li><%= link_to t('apex.com.preferences.region_settings'), edit_apex_com_preference_region_url %></li>
</ul>
