<p><%= t('email.org.preference_mailer.update_request.greeting') %></p>
<p><%= t('email.org.preference_mailer.update_request.intro') %></p>
<p>
  <%= link_to t('email.org.preference_mailer.update_request.cta'), @edit_url %>
</p>
<p><%= t('email.org.preference_mailer.update_request.expiration_notice') %></p>
