<% content_for :page_title, t('apex.org.preference.resets.title') %>

<h1><%= t('apex.org.preference.resets.title') %></h1>

<p><%= t('apex.org.preference.resets.description') %></p>

<%= button_to t('apex.org.preference.resets.button'),
              apex_org_preference_reset_path,
              method: :delete,
              data: { confirm: t('apex.org.preference.resets.confirm') },
              class: "btn btn-danger" %>

<p><%= link_to t('apex.org.preference.resets.back'), apex_org_preference_path %></p>
