<% content_for :page_title, t('top.com.preference.resets.title') %>

<h1><%= t('top.com.preference.resets.title') %></h1>

<p><%= t('top.com.preference.resets.description') %></p>

<%= button_to t('top.com.preference.resets.button'),
              top_com_preference_reset_path,
              method: :delete,
              data: { confirm: t('top.com.preference.resets.confirm') },
              class: "btn btn-danger" %>

<p><%= link_to t('top.com.preference.resets.back'), top_com_preference_path %></p>
