<div>
  <h1><%= title t("sign.app.root.title") %></h1>
  <p><%= t("sign.app.root.description") %></p>

  <div>
    <%= link_to t("sign.app.root.registration"),
                new_sign_app_up_path %>
    <%= link_to t("sign.app.root.authentication"),
                new_sign_app_in_path %>
  </div>
</div>
