<h1><%= title t("sign.app.root.title") %></h1>
<p><%= t("sign.app.root.description") %></p>

<ul><li><%= link_to t("sign.app.root.registration"), new_sign_app_up_path %></li>
<li><%= link_to t("sign.app.root.authentication"), new_sign_app_in_path %></li>
</ul>
