<h1><%= t('apex.app.preferences.title') %></h1>

<ul>
  <li><%= link_to t('apex.app.preferences.cookie_settings'), edit_apex_app_preference_cookie_url %></li>
  <li><%= link_to t('apex.app.preferences.region_settings'), edit_apex_app_preference_region_url %></li>
</ul>
