<% content_for :page_title, 'Core::Org::Help::App::Contacts#index' %>
<div>
  <h1>Core::Org::Help::App::Contacts#index</h1>
  <p>Find me in app/views/core/org/help/app/contacts/index.html.erb</p>
</div>
