<% content_for :page_title, t("sign.org.preferences.title") %>

<div>
  <h1><%= t("sign.org.preferences.title") %></h1>
  <div>
    <%= link_to t("shared.links.apex_preference"),
                apex_org_preference_url %>
  </div>
</div>
