development:
  adapter: async
test:
  adapter: test
production:
  encrypt: true
  adapter: redis
  url: default_redis_url = Rails.application.credentials.dig(:REDIS, :REDIS_CABLE_URL)
  channel_prefix: learn_production
