default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } * 100 %>
  port: 5432
  timeout: 5000
  username: <%= ENV["POSTGRESQL_USER"] %>
  password: <%= ENV["POSTGRESQL_PASSWORD"] %>
development:
  universal:
    !!merge <<: *default
    database: development_universal_db
    host: <%= ENV["POSTGRESQL_UNIVERSAL_PUB"] %>
    migrations_paths: db/universals_migrate
  universal_replica:
    !!merge <<: *default
    replica: true
    database: development_universal_db
    host: <%= ENV["POSTGRESQL_UNIVERSAL_SUB"] %>
    migrations_paths: db/universals_migrate
  guest:
    !!merge <<: *default
    database: development_guest_db
    host: <%=  ENV["POSTGRESQL_GUEST_PUB"] %>
    migrations_paths: db/guests_migrate
  guest_replica:
    !!merge <<: *default
    replica: true
    database: development_guest_db
    host: <%= ENV["POSTGRESQL_GUEST_SUB"] %>
    migrations_paths: db/guests_migrate
  identity:
    !!merge <<: *default
    database: development_identity_db
    host: <%= ENV["POSTGRESQL_IDENTITY_PUB"] %>
    migrations_paths: db/identities_migrate
  identity_replica:
    !!merge <<: *default
    replica: true
    database: development_identity_db
    host: <%= ENV["POSTGRESQL_IDENTITY_SUB"] %>
    migrations_paths: db/identities_migrate
  profile:
    !!merge <<: *default
    database: development_profile_db
    host: <%= ENV["POSTGRESQL_PROFILE_PUB"] %>
    migrations_paths: db/profiles_migrate
  profile_replica:
    !!merge <<: *default
    replica: true
    database: development_profile_db
    host: <%= ENV["POSTGRESQL_PROFILE_SUB"] %>
    migrations_paths: db/profiles_migrate
  token:
    !!merge <<: *default
    database: development_token_db
    host: <%= ENV["POSTGRESQL_TOKEN_PUB"] %>
    migrations_paths: db/tokens_migrate
  token_replica:
    !!merge <<: *default
    replica: true
    database: development_token_db
    host: <%= ENV["POSTGRESQL_TOKEN_SUB"] %>
    migrations_paths: db/tokens_migrate
  business:
    !!merge <<: *default
    database: development_business_db
    host: <%= ENV["POSTGRESQL_BUSINESS_PUB"] %>
    migrations_paths: db/businesses_migrate
  business_replica:
    !!merge <<: *default
    replica: true
    database: development_business_db
    host: <%= ENV["POSTGRESQL_BUSINESS_SUB"] %>
    migrations_paths: db/businesses_migrate
  notification:
    !!merge <<: *default
    database: development_notification_db
    host: <%= ENV["POSTGRESQL_NOTIFICATION_PUB"] %>
    migrations_paths: db/notifications_migrate
  notification_replica:
    !!merge <<: *default
    replica: true
    database: development_notification_db
    host: <%= ENV["POSTGRESQL_NOTIFICATION_SUB"] %>
    migrations_paths: db/notifications_migrate
  cache:
    !!merge <<: *default
    database: development_cache_db
    host: <%= ENV["POSTGRESQL_CACHE_PUB"] %>
    migrations_paths: db/caches_migrate
  cache_replica:
    !!merge <<: *default
    replica: true
    database: development_cache_db
    host: <%= ENV["POSTGRESQL_CACHE_SUB"] %>
    migrations_paths: db/caches_migrate
  speciality:
    !!merge <<: *default
    database: development_speciality_db
    host: <%= ENV["POSTGRESQL_SPECIALITY_PUB"] %>
    migrations_paths: db/specialities_migrate
  speciality_replica:
    !!merge <<: *default
    replica: true
    database: development_speciality_db
    host: <%= ENV["POSTGRESQL_SPECIALITY_SUB"] %>
    migrations_paths: db/specialities_migrate
  storage:
    !!merge <<: *default
    database: development_storage_db
    host: <%= ENV["POSTGRESQL_STORAGE_PUB"] %>
    migrations_paths: db/storages_migrate
  storage_replica:
    !!merge <<: *default
    replica: true
    database: development_storage_db
    host: <%= ENV["POSTGRESQL_STORAGE_SUB"] %>
    migrations_paths: db/storages_migrate
# Warning: The database defined as "test" will be erased and
# re-generated from your development database when you run "rake".
# Do not set this db to the same as development or production.
# Warning: The database defined as "test" will be erased and
# re-generated from your development database when you run "rake".
# Do not set this db to the same as development or production.
test:
  universal:
    !!merge <<: *default
    database: test_universal_db
    host: <%= ENV["POSTGRESQL_UNIVERSAL_PUB"] %>
    migrations_paths: db/universals_migrate
  universal_replica:
    !!merge <<: *default
    replica: true
    database: test_universal_db
    host: <%= ENV["POSTGRESQL_UNIVERSAL_SUB"] %>
    migrations_paths: db/universals_migrate
  guest:
    !!merge <<: *default
    database: test_guest_db
    host: <%= ENV["POSTGRESQL_GUEST_PUB"] %>
    migrations_paths: db/guests_migrate
  guest_replica:
    !!merge <<: *default
    replica: true
    database: test_guest_db
    host: <%= ENV["POSTGRESQL_GUEST_SUB"] %>
    migrations_paths: db/guests_migrate
  identity:
    !!merge <<: *default
    database: test_identity_db
    host: <%= ENV["POSTGRESQL_IDENTITY_PUB"] %>
    migrations_paths: db/identities_migrate
  identity_replica:
    !!merge <<: *default
    replica: true
    database: test_identity_db
    host: <%= ENV["POSTGRESQL_IDENTITY_SUB"] %>
    migrations_paths: db/identities_migrate
  profile:
    !!merge <<: *default
    database: test_profile_db
    host: <%= ENV["POSTGRESQL_PROFILE_PUB"] %>
    migrations_paths: db/profiles_migrate
  profile_replica:
    !!merge <<: *default
    replica: true
    database: test_profile_db
    host: <%= ENV["POSTGRESQL_PROFILE_SUB"] %>
    migrations_paths: db/profiles_migrate
  token:
    !!merge <<: *default
    database: test_token_db
    host: <%= ENV["POSTGRESQL_TOKEN_PUB"] %>
    migrations_paths: db/tokens_migrate
  token_replica:
    !!merge <<: *default
    replica: true
    database: test_token_db
    host: <%= ENV["POSTGRESQL_TOKEN_SUB"] %>
    migrations_paths: db/tokens_migrate
  notification:
    !!merge <<: *default
    database: test_notification_db
    host: <%= ENV["POSTGRESQL_NOTIFICATION_PUB"] %>
    migrations_paths: db/notifications_migrate
  notification_replica:
    !!merge <<: *default
    replica: true
    database: test_notification_db
    host: <%= ENV["POSTGRESQL_NOTIFICATION_SUB"] %>
    migrations_paths: db/notifications_migrate
  speciality:
    !!merge <<: *default
    database: test_speciality_db
    host: <%= ENV["POSTGRESQL_SPECIALITY_PUB"] %>
    migrations_paths: db/specialities_migrate
  speciality_replica:
    !!merge <<: *default
    replica: true
    database: test_speciality_db
    host: <%= ENV["POSTGRESQL_SPECIALITY_SUB"] %>
    migrations_paths: db/specialities_migrate
  cache:
    !!merge <<: *default
    database: test_cache_db
    host: <%= ENV["POSTGRESQL_CACHE_PUB"] %>
    migrations_paths: db/caches_migrate
  cache_replica:
    !!merge <<: *default
    replica: true
    database: test_cache_db
    host: <%= ENV["POSTGRESQL_CACHE_SUB"] %>
    migrations_paths: db/caches_migrate
  storage:
    !!merge <<: *default
    database: test_storage_db
    host: <%= ENV["POSTGRESQL_STORAGE_PUB"] %>
    migrations_paths: db/storages_migrate
  storage_replica:
    !!merge <<: *default
    replica: true
    database: test_storage_db
    host: <%= ENV["POSTGRESQL_STORAGE_SUB"] %>
    migrations_paths: db/storages_migrate
  business:
    !!merge <<: *default
    database: test_business_db
    host: <%= ENV["POSTGRESQL_BUSINESS_PUB"] %>
    migrations_paths: db/businesses_migrate
  business_replica:
    !!merge <<: *default
    replica: true
    database: test_business_db
    host: <%= ENV["POSTGRESQL_BUSINESS_SUB"] %>
    migrations_paths: db/businesses_migrate
# FIXME: please implement below code
production:
  universal:
    !!merge <<: *default
    database: production_universal_db
    port: <%= ENV.fetch('POSTGRESQL_PORT', 5432) %>
    host: <%= Rails.application.credentials&.DATABASE&.UNIVERSAL&.HOST %>
    username: 'neondb_owner'
    password: <%= Rails.application.credentials&.DATABASE&.UNIVERSAL&.PASSWORD %>
    migrations_paths: db/universals_migrate
  universal_replica:
    !!merge <<: *default
    replica: true
    database: production_universal_db
    port: <%= ENV.fetch('POSTGRESQL_PORT', 5432) %>
    host: <%= Rails.application.credentials&.DATABASE&.UNIVERSAL_REPLICA&.HOST %>
    username: 'neondb_owner'
    password: <%= Rails.application.credentials&.DATABASE&.UNIVERSAL_REPLICA&.PASSWORD %>
    migrations_paths: db/universals_migrate
  guest:
    !!merge <<: *default
    database: production_guest_db
    port: <%= ENV.fetch('POSTGRESQL_PORT', 5432) %>
    host: <%= Rails.application.credentials&.DATABASE&.GUEST&.HOST %>
    username: 'neondb_owner'
    password: <%= Rails.application.credentials&.DATABASE&.GUEST&.PASSWORD %>
    migrations_paths: db/guests_migrate
  guest_replica:
    !!merge <<: *default
    replica: true
    database: production_guest_db
    port: <%= ENV.fetch('POSTGRESQL_PORT', 5432) %>
    host: <%= Rails.application.credentials&.DATABASE&.GUEST_REPLICA&.HOST %>
    username: 'neondb_owner'
    password: <%= Rails.application.credentials&.DATABASE&.GUEST_REPLICA&.PASSWORD %>
    migrations_paths: db/guests_migrate
  identity:
    !!merge <<: *default
    database: production_identity_db
    port: <%= ENV.fetch('POSTGRESQL_PORT', 5432) %>
    host: <%= Rails.application.credentials&.DATABASE&.identity&.HOST %>
    username: 'neondb_owner'
    password: <%= Rails.application.credentials&.DATABASE&.identity&.PASSWORD %>
    migrations_paths: db/identities_migrate
  identity_replica:
    !!merge <<: *default
    replica: true
    database: production_identity_db
    port: <%= ENV.fetch('POSTGRESQL_PORT', 5432) %>
    host: <%= Rails.application.credentials&.DATABASE&.IDENTITY_REPLICA&.HOST %>
    username: 'neondb_owner'
    password: <%= Rails.application.credentials&.DATABASE&.IDENTITY_REPLICA&.PASSWORD %>
    migrations_paths: db/identities_migrate
  profile:
    !!merge <<: *default
    database: production_profile_db
    port: <%= ENV.fetch('POSTGRESQL_PORT', 5432) %>
    host: <%= Rails.application.credentials&.DATABASE&.PROFILE&.HOST %>
    username: 'neondb_owner'
    password: <%= Rails.application.credentials&.DATABASE&.PROFILE&.PASSWORD %>
    migrations_paths: db/profiles_migrate
  profile_replica:
    !!merge <<: *default
    replica: true
    database: production_profile_db
    port: <%= ENV.fetch('POSTGRESQL_PORT', 5432) %>
    host: <%= Rails.application.credentials&.DATABASE&.PROFILE_REPLICA&.HOST %>
    username: 'neondb_owner'
    password: <%= Rails.application.credentials&.DATABASE&.PROFILE_REPLICA&.PASSWORD %>
    migrations_paths: db/profiles_migrate
  token:
    !!merge <<: *default
    database: production_token_db
    port: <%= ENV.fetch('POSTGRESQL_PORT', 5432) %>
    host: <%= Rails.application.credentials&.DATABASE&.TOKEN&.HOST %>
    username: 'neondb_owner'
    password: <%= Rails.application.credentials&.DATABASE&.TOKEN&.PASSWORD %>
    migrations_paths: db/tokens_migrate
  token_replica:
    !!merge <<: *default
    replica: true
    database: production_token_db
    port: <%= ENV.fetch('POSTGRESQL_PORT', 5432) %>
    host: <%= Rails.application.credentials&.DATABASE&.TOKEN_REPLICA&.HOST %>
    username: 'neondb_owner'
    password: <%= Rails.application.credentials&.DATABASE&.TOKEN_REPLICA&.PASSWORD %>
    migrations_paths: db/tokens_migrate
  business:
    !!merge <<: *default
    database: production_business_db
    port: <%= ENV.fetch('POSTGRESQL_PORT', 5432) %>
    host: <%= Rails.application.credentials&.DATABASE&.BUSINESS&.HOST %>
    username: 'neondb_owner'
    password: <%= Rails.application.credentials&.DATABASE&.BUSINESS&.PASSWORD %>
    migrations_paths: db/businesses_migrate
  business_replica:
    !!merge <<: *default
    replica: true
    database: production_business_db
    port: <%= ENV.fetch('POSTGRESQL_PORT', 5432) %>
    host: <%= Rails.application.credentials&.DATABASE&.BUSINESS_REPLICA&.HOST %>
    username: 'neondb_owner'
    password: <%= Rails.application.credentials&.DATABASE&.BUSINESS_REPLICA&.PASSWORD %>
    migrations_paths: db/businesses_migrate
  notification:
    !!merge <<: *default
    database: production_notification_db
    port: <%= ENV.fetch('POSTGRESQL_PORT', 5432) %>
    host: <%= Rails.application.credentials&.DATABASE&.NOTIFICATION&.HOST %>
    username: 'neondb_owner'
    password: <%= Rails.application.credentials&.DATABASE&.NOTIFICATION&.PASSWORD %>
    migrations_paths: db/notifications_migrate
  notification_replica:
    !!merge <<: *default
    replica: true
    database: production_notification_db
    port: <%= ENV.fetch('POSTGRESQL_PORT', 5432) %>
    host: <%= Rails.application.credentials&.DATABASE&.NOTIFICATION_REPLICA&.HOST %>
    username: 'neondb_owner'
    password: <%= Rails.application.credentials&.DATABASE&.NOTIFICATION_REPLICA&.PASSWORD %>
    migrations_paths: db/notifications_migrate
  speciality:
    !!merge <<: *default
    database: production_speciality_db
    port: <%= ENV.fetch('POSTGRESQL_PORT', 5432) %>
    host: <%= Rails.application.credentials&.DATABASE&.SPECIALITY&.HOST %>
    username: 'neondb_owner'
    password: <%= Rails.application.credentials&.DATABASE&.SPECIALITY&.PASSWORD %>
    migrations_paths: db/specialities_migrate
  speciality_replica:
    !!merge <<: *default
    replica: true
    database: production_speciality_db
    port: <%= ENV.fetch('POSTGRESQL_PORT', 5432) %>
    host: <%= Rails.application.credentials&.DATABASE&.SPECIALITY_REPLICA&.HOST %>
    username: 'neondb_owner'
    password: <%= Rails.application.credentials&.DATABASE&.SPECIALITY_REPLICA&.PASSWORD %>
    migrations_paths: db/specialities_migrate
  cache:
    !!merge <<: *default
    database: production_cache_db
    port: <%= ENV.fetch('POSTGRESQL_PORT', 5432) %>
    host: <%= Rails.application.credentials&.DATABASE&.CACHE&.HOST %>
    username: 'neondb_owner'
    password: <%= Rails.application.credentials&.DATABASE&.CACHE&.PASSWORD %>
    migrations_paths: db/caches_migrate
  cache_replica:
    !!merge <<: *default
    replica: true
    database: production_cache_db
    port: <%= ENV.fetch('POSTGRESQL_PORT', 5432) %>
    host: <%= Rails.application.credentials&.DATABASE&.CACHE_REPLICA&.HOST %>
    username: 'neondb_owner'
    password: <%= Rails.application.credentials&.DATABASE&.CACHE_REPLICA&.PASSWORD %>
    migrations_paths: db/caches_migrate
  storage:
    !!merge <<: *default
    database: production_storage_db
    port: <%= ENV.fetch('POSTGRESQL_PORT', 5432) %>
    host: <%= Rails.application.credentials&.DATABASE&.STORAGE&.HOST %>
    username: 'neondb_owner'
    password: <%= Rails.application.credentials&.DATABASE&.STORAGE&.PASSWORD %>
    migrations_paths: db/storages_migrate
  storage_replica:
    !!merge <<: *default
    replica: true
    database: production_storage_db
    port: <%= ENV.fetch('POSTGRESQL_PORT', 5432) %>
    host: <%= Rails.application.credentials&.DATABASE&.STORAGE_REPLICA&.HOST %>
    username: 'neondb_owner'
    password: <%= Rails.application.credentials&.DATABASE&.STORAGE_REPLICA&.PASSWORD %>
    migrations_paths: db/storages_migrate
  # note: I thought that username host should be stored at secret manager.
