<% title t("sign.app.registration.new.page_title") %>

<h1><%= t("sign.app.registration.new.page_title") %></h1>

<ul>
  <li><%= link_to t("sign.app.registration.new.methods.email.cta"), new_sign_app_up_email_path %></li>
</ul>
<%= link_to t("sign.app.registration.new.links.sign_in"), new_sign_app_in_path %>
