<% content_for :page_title, 'Jit::Identity::Sign::Org::Edge::V0::Token::Checks#show' %>
<div>
  <h1>Jit::Identity::Sign::Org::Edge::V0::Token::Checks#show</h1>
  <p>Find me in app/views/sign/org/edge/v0/token/checks/show.html.erb</p>
</div>
