<% breadcrumb :org_preference %>

<h1><%= t('apex.org.preferences.title') %></h1>

<ul>
  <li><%= link_to t('apex.org.preferences.cookie_settings'), edit_apex_org_preference_cookie_url %></li>
  <li><%= link_to t('apex.org.preferences.region_settings'), edit_apex_org_preference_region_url %></li>
</ul>
