<% content_for :page_title, 'Core::Org::Docs::Com::Versions#show' %>
<div>
  <h1>Core::Org::Docs::Com::Versions#show</h1>
  <p>Find me in app/views/core/org/docs/com/versions/show.html.erb</p>
</div>
