<%
  variant ||= :info
  variant_classes = {
    info: "bg-muted text-muted-fg border-border",
    danger: "bg-danger/10 text-danger border-danger/20",
    success: "bg-primary/10 text-primary border-primary/20"}[variant.to_sym]
%>

<div class="<%= variant_classes %> <%= local_assigns[:class] %>">
  <div>
    <%= yield %>
  </div>
</div>
