<% content_for :page_title, t("sign.org.verification.setup.title") %>
<% title t("sign.org.verification.setup.title") %>

<div>
  <h1><%= t("sign.org.verification.setup.title") %></h1>
  <p><%= t("sign.org.verification.setup.description") %></p>

  <ul>
    <li>
      <%= link_to t("sign.org.verification.setup.methods.passkey"),
                  new_sign_org_configuration_passkey_path(ri: params[:ri], rd: @rd) %>
    </li>
    <li>
      <%= link_to t("sign.org.verification.setup.methods.totp"),
                  new_sign_org_configuration_totp_path(ri: params[:ri], rd: @rd) %>
    </li>
  </ul>
</div>
