<% content_for :page_title, 'News::Org::Preferences#show' %>
<div>
  <h1>News::Org::Preferences#show</h1>
  <p>Find me in app/views/news/org/preferences/show.html.erb</p>
  <p><%= link_to t("shared.links.apex_preference"), apex_org_preference_url %></p>
</div>
