<% content_for :page_title, 'Docs::Org::Preference#show' %>
<div>
  <h1>Docs::Org::Preference#show</h1>
  <p>Find me in app/views/docs/org/preference/show.html.erb</p>
  <p><%= link_to t("shared.links.apex_preference"), apex_org_preference_url %></p>
</div>
