<% content_for :page_title, 'Jit::Distributor::Post::App::Preference#show' %>
<div>
  <h1>Jit::Distributor::Post::App::Preference#show</h1>
  <p>Find me in app/views/docs/app/preference/show.html.erb</p>
  <p><%= link_to t("shared.links.acme_preference"), identity.sign_app_preference_url %></p>
</div>
