<h1><%= t('controller.www.app.contacts.error.page_title') %></h1>
<p><%= t('controller.www.app.contacts.error.page_description') %></p>
<p><%= link_to t('controller.www.app.contacts.error.back_to_contact_root_page'), new_www_app_inquiry_path %></p>
