<h1><%= t('sign.app.authentication.edit.title') %></h1>

<%= form_with url: sign_app_authentication_path, method: :destroy do |f| %>
  <%= f.submit %>
<% end %>

<%= button_to "Delete?", sign_app_authentication_path(notice), method: :delete %>
