<div>
  <h1>Core::Org::Preference#show</h1>
  <p>Find me in app/views/core/org/preference/show.html.erb</p>
  <p><%= link_to "Timezones", core_org_preference_timezones_path %></p>
  <p><%= link_to t("shared.links.apex_preference"), apex_org_preference_url %></p>
</div>
