<div>
  <h1 class="font-bold text-4xl">Sign::Org::Preference#show</h1>
  <p>Find me in app/views/sign/org/preference/show.html.erb</p>
  <p><%= link_to t("shared.links.apex_preference"), apex_org_preference_url %></p>
</div>
