<% content_for :page_title, 'Jit::Foundation::Base::Com::Configurations#show' %>
<div>
  <h1>Jit::Foundation::Base::Com::Configurations#show</h1>
  <p>Find me in app/views/base/com/configurations/show.html.erb</p>
</div>
