<% content_for :page_title, 'Core::App::Preference#show' %>
<div>
  <h1>Core::App::Preference#show</h1>
  <p>Find me in app/views/core/app/preference/show.html.erb</p>
  <p><%= link_to "Timezones", core_app_preference_timezones_path %></p>
  <p><%= link_to t("shared.links.apex_preference"), apex_app_preference_url %></p>
</div>
