<div>
  <h1 class="font-bold text-4xl">settei</h1>
  <p>Find me in app/views/net/registrations/new.html.erb</p>

  <ul>
    <li><%= link_to 'TOTPs', auth_app_setting_totps_path %></li>
    <li><%= link_to 'PASSKEY', auth_app_setting_passkeys_path %></li>
    <li><%= link_to 'RECOVERY', auth_app_setting_recoveries_path %></li>
  </ul>
</div>